<md-dialog aria-label="Content Marketing">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-headline" style="font-weight: bold;">Content Marketing</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <md-icon style="color: black;">close</md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="assets/Row-of-black-pencils-with-one-red-pencil-in-middle-532959870_1029x343.jpeg" />

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">What Is Content Marketing?</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        “Content marketing is a marketing technique of creating and distributing valuable, relevant and consistent content to attract
                        and acquire a clearly defined audience – with the objective of driving profitable customer action.”
                        <span style="font-style:italic;"> -- Content Marketing Institute</span>
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Creative...-a-Dictionary-definition-170616835_727x484.jpeg" />
                </div>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Copywriting</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        We write compelling copy that grabs your audience’s attention and reflects your company’s personality. We are adept at making
                        sure that your voice, your story and your vision resonates with your audience. Most of us want to buy
                        products and services from companies that share similar values to ours and thus authentic content
                        can make or break your brand.
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Visual Content</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        No matter how valuable and informative your content is, images and graphics will not only increase your audience engagement
                        but also will make your brand more memorable. As people’s attention spans continue to
                        decline, replacing lengthy explanations with images and graphics will get your ideas across quicker
                        and more effectively.
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/woman-computer-designing-layout-614225004_727x484.jpeg"/>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Countdown-(Click-for-more)-530098115_726x483.jpeg" />
                </div>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Video Marketing</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        Video Production is an essential part of every content marketing strategy. Whether it is an educational video that increases
                        brand awareness online, an explainer video that helps understand your offering, or a customer
                        testimonial that convinces new prospects to choose your company over others. Windowsoft can help facilitate
                        production of the video content that best aligns with your company’s marketing objectives.
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">E-mail Marketing</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        A tried and true digital marketing tactic that offers the highest return on investment. For it to be successful, your company’s
                        email campaigns should be consistent and contain a strong call-to-action (CTA). Windowsoft can help
                        create an e-mail marketing plan that has high open and click-through rates and keeps your brand in
                        front of your customers.
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/hand-take-email-word-666355720_727x484 (1).jpeg"/>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Google-on-iPad2-screen-157727257_728x484.jpeg" />
                </div>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">SEO</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        Increasing your ranking on search engines is one of the best ways to increase traffic to your site and acquire new customers.
                        Some of the activities that improve your Search Engine Optimization include: optimized web page titles
                        and headings, using proper keywords and creating engaging content. Windowsoft is happy to create
                        a cost-effective SEO solution that meets your company’s marketing goals.
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Print Collateral</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        Your company’s collection of media such as brochures, product data sheets and visual aids should be designed not only to
                        support sales of your product or service but also to offer consistent messaging that enhances your
                        brand. We can help you create materials that are not only visually appealing but also offer enticing
                        content that resonates with your customers and drives action. Windowsoft can help create the following
                        print materials:
                        <ul>
                            <li>Brochures</li>
                            <li>Tradeshow Visual Aids</li>
                            <li>Corporate printing</li>
                            <li>Direct mail</li>
                            <li>Print Ads</li>
                        </ul>
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Human-hand-holding-brochure-590168574_726x484.jpeg"/>
                </div>
            </div>
<!--
            <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                Industries We Specialize In: Construction, Real Estate, Transportation, Consulting, could put icons for each?)
            </div>-->

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="column" layout-gt-xs="row" layout-align="center center" flex>
            <div flex hide-xs>
                <md-button class="md-raised md-accent md-hue-2" style="margin:0; min-height:48px;" ng-click="link('contact')">NEED CONTENT THAT ENGAGES YOUR AUDIENCE?</md-button>
            </div>
            <div layout="row" layout-align="end center" layout-padding>
                <div class="md-title">Share:</div>
                <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.windowsoft.com%2F&title=Windowsoft&source=https://www.windowsoft.com/"
                    class="md-icon-button md-primary" title="LinkedIn - Windowsoft" target="_blank">
                    <i class="fa fa-linkedin footer-social"></i>
                </md-button>
                <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwindowsoft.com%2F&ref_src=twsrc%5Etfw&text=Windowsoft%20-%20Marketing%20Planning%20and%20Strategy&tw_p=tweetbutton&url=http%3A%2F%2Fwindowsoft.com%2F&via=Windowsoft" 
                    class="md-icon-button md-primary" title="Twitter - Tweet Windowsoft" target="_blank">
                    <i class="fa fa-twitter footer-social"></i>
                </md-button>
                <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Facebook - Windowsoft" target="_blank">
                    <i class="fa fa-facebook footer-social"></i>
                </md-button>
                <md-button href="//plus.google.com/share?url=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Google Plus - Windowsoft" target="_blank">
                    <i class="fa fa-google-plus footer-social"></i>
                </md-button>
            </div>
        </div>
    </md-dialog-actions>
</md-dialog>