<md-dialog aria-label="Marketing Strategy">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-headline" style="font-weight: bold;">Marketing Strategy</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <md-icon style="color: black;">close</md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="assets/Lighthouse-and-bad-weather-in-background-519649676_922x383.jpeg"/>

            <div class="md-subhead" style="font-size:18px; line-height: 170%; padding: 20px 50px 0 0;">
                Our marketing plans are designed to give you a clear roadmap that you can choose to follow on your own or with
                our help. A clear strategy outlined is key to any successful marketing campaign.
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Marketing Audit</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        We assess your current marketing efforts, perform comprehensive research on your company and your competition
                        and identify lucrative new business development opportunities.
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/images/Businesswoman-giving-presentation-on-future-plans-to-colleagues-576902490_727x484.jpeg"/>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Apple-store-at-5th-Ave-in-Manhattan,-NYC-506115808_727x484.jpeg"/>
                </div>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Branding Evaluation</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        We evaluate all your marketing channels and determine the effectiveness of your campaigns. Building
                        a strategy that enhances your brand and increases lead generation is our specialty.
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Marketing Plan</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        We come up with a list of specific suggestions as to how to leverage each of your marketing channels.
                        Our clients find this service very valuable and even though you know your business best, we guarantee
                        that we will provide you with new and exciting ideas to grow your business.
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Business-people-negotiating-a-contract-586750982_792x445.jpeg"/>
                </div>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="column" layout-gt-xs="row" layout-align="center center" flex>
            <div flex hide-xs>
                <md-button class="md-raised md-accent md-hue-2" style="margin:0; min-height:48px;" ng-click="link('contact')">NEED A MARKETING PLAN THAT WORKS?</md-button>
            </div>
            <div layout="row" layout-align="end center" layout-padding>
                <div class="md-title">Share:</div>
                <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.windowsoft.com%2F&title=Windowsoft&source=https://www.windowsoft.com/"
                    class="md-icon-button md-primary" title="LinkedIn - Windowsoft" target="_blank">
                    <i class="fa fa-linkedin footer-social"></i>
                </md-button>
                <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwindowsoft.com%2F&ref_src=twsrc%5Etfw&text=Windowsoft%20-%20Marketing%20Planning%20and%20Strategy&tw_p=tweetbutton&url=http%3A%2F%2Fwindowsoft.com%2F&via=Windowsoft" 
                    class="md-icon-button md-primary" title="Twitter - Tweet Windowsoft" target="_blank">
                    <i class="fa fa-twitter footer-social"></i>
                </md-button>
                <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Facebook - Windowsoft" target="_blank">
                    <i class="fa fa-facebook footer-social"></i>
                </md-button>
                <md-button href="//plus.google.com/share?url=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Google Plus - Windowsoft" target="_blank">
                    <i class="fa fa-google-plus footer-social"></i>
                </md-button>
            </div>
        </div>
    </md-dialog-actions>
</md-dialog>