<md-dialog aria-label="Social Media">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-headline" style="font-weight: bold;">Social Media</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <md-icon style="color: black;">close</md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="assets/Connection-Digital-Device-Nteworking-Technology-Concept-505886242_1030x343.jpeg" />

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Social Media Management and Analytics</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        As a business, you need to know where your target audience is and how to speak to them. Authentic content that interests
                        and engages is a great way to generate leads. Social media gives a perfect opportunity to do just
                        that, to create visibility and increase loyalty to your brand.
                    </div>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div layout-padding>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        <ul style="margin-top: 0px;">
                            <li>Create custom content specifically formatted for each of your social media channels</li>
                            <li>Speak to your audience in a tone that represents your brand personality</li>
                            <li>Follow, like, and interact with other pages and influencers</li>
                            <li>Engage new followers and grow your audience</li>
                            <li>Improve your existing customer relationships</li>
                            <li>Visual analytics reporting that shows you the progress, success, and engagement of ad campaigns </li>
                        </ul>
                    </div>
                </div>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Facebook-profile-on-Apple-iPhone-6s-504757660_727x484.jpeg"/>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div hide-xs hide-sm>
                    <img width="300" src="assets/Advertise-on-Facebook-458886827_725x484.jpeg" />
                </div>
                <div layout-padding>
                    <div class="md-headline" style="font-weight: bold;">Social Media Advertising</div>
                    <div class="md-subhead" style="font-size:18px; line-height: 170%;">
                        Simply put, social media ads allow you to target and engage an audience that is not yet familiar with your brand. 
                        Sponsored posts and advertising campaigns on your social networks can drive engagement, website traffic and most importantly, leads. 
                        Each social network offers different advertising options and it can be challenging to develop a strategy that meets your
                        unique business goals. One of the greatest strengths of paid social advertising is the ability to target a very specific
                        audience of prospective customers based on their interests, location and demographics.
                    </div>
                </div>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="column" layout-gt-xs="row" layout-align="center center" flex>
            <div flex hide-xs>
                <md-button class="md-raised md-accent md-hue-2" style="margin:0; min-height:48px;" ng-click="link('contact')">WANT TO IMROVE YOUR SOCIAL MEDIA IMPACT?</md-button>
            </div>
            <div layout="row" layout-align="end center" layout-padding>
                <div class="md-title">Share:</div>
                <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.windowsoft.com%2F&title=Windowsoft&source=https://www.windowsoft.com/"
                    class="md-icon-button md-primary" title="LinkedIn - Windowsoft" target="_blank">
                    <i class="fa fa-linkedin footer-social"></i>
                </md-button>
                <md-button href="///twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwindowsoft.com%2F&ref_src=twsrc%5Etfw&text=Windowsoft%20-%20Marketing%20Planning%20and%20Strategy&tw_p=tweetbutton&url=http%3A%2F%2Fwindowsoft.com%2F&via=Windowsoft" 
                    class="md-icon-button md-primary" title="Twitter - Tweet Windowsoft" target="_blank">
                    <i class="fa fa-twitter footer-social"></i>
                </md-button>
                <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Facebook - Windowsoft" target="_blank">
                    <i class="fa fa-facebook footer-social"></i>
                </md-button>
                <md-button href="//plus.google.com/share?url=https%3A%2F%2Fwww.windowsoft.com%2F" 
                    class="md-icon-button md-primary" title="Google Plus - Windowsoft" target="_blank">
                    <i class="fa fa-google-plus footer-social"></i>
                </md-button>
            </div>
        </div>
    </md-dialog-actions>
</md-dialog>